In [80]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, roc_auc_score, classification_report, recall_score
from sklearn.compose import ColumnTransformer, make_column_selector as selector
from sklearn.pipeline import Pipeline

In [3]:
raw_data = pd.read_csv(r'Data.csv')
print(raw_data.shape)
raw_data.head()

C:\Users\Integral\AppData\Local\Temp\ipykernel_19300\2621379761.py:1: DtypeWarning: Columns (35,36,37,38,41,42,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv(r'Data.csv')

(802, 24691)

    sample_id  title  ...  200098_PM_s_at  200099_PM_s_at
0  GSM1602801      3  ...        6.642293       10.754443
1  GSM1602802      3  ...        7.032988       10.827502
2  GSM1602803      3  ...        6.623814       11.163120
3  GSM1602804      3  ...        7.423680       11.291534
4  GSM1602805      3  ...        6.223374       10.860981

[5 rows x 24691 columns]

In [8]:
expr = pd.read_csv(r'GSE65682_geneCollapsed_BESTprobe_byVAR.csv')
print(expr.shape)
expr.head()

(802, 10871)

    sample_id  200015_PM_s_at    A4GALT  ...       ZYX     ZZEF1      ZZZ3
0  GSM1602801        8.374532  2.476531  ...  7.179740  5.875164  3.085236
1  GSM1602802        8.196153  2.261576  ...  6.528229  5.496339  3.752368
2  GSM1602803        8.049158  2.277492  ...  6.490220  5.241529  3.367788
3  GSM1602804        8.163978  2.203401  ...  6.730774  6.082328  3.226368
4  GSM1602805        7.014305  2.161031  ...  6.746959  5.662583  2.993148

[5 rows x 10871 columns]

In [104]:
data = pd.concat([raw_data.iloc[:, :45], expr.iloc[:, 2:]], axis=1)
data = data[(~data['endotype_cohort'].isna()) | (data['icu_acquired_infection'] == 'healthy')]
data['endotype_cohort'] = data['endotype_cohort'].notna().astype(int)
data = data.rename(columns={'endotype_cohort': 'Mortality'})
data = data.dropna(axis=1)
data = data.drop(['sample_id', 'geo_accession'], axis=1)
data = data.iloc[:, ~data.columns.duplicated()]
print(data.shape)
data.head()

(521, 10883)

   title  status  submission_date  ...       ZYX     ZZEF1      ZZZ3
1      3       6                5  ...  6.528229  5.496339  3.752368
2      3       6                5  ...  6.490220  5.241529  3.367788
4      3       6                5  ...  6.746959  5.662583  2.993148
6      3       6                5  ...  6.585553  5.928161  3.291357
8      3       6                5  ...  4.327596  5.219484  4.491279

[5 rows x 10883 columns]

In [105]:
missing_summary = data.isna().sum()
missing_summary = pd.DataFrame({'count': missing_summary})
missing_summary = missing_summary[missing_summary['count'] > 0]
missing_summary['percent'] = 100 * (missing_summary['count'] / data.shape[0])
missing_summary.sort_values(by='count', ascending=False)

Empty DataFrame
Columns: [count, percent]
Index: []

In [ ]:
X = data.drop(['Mortality'], axis=1)
y = data['Mortality'].astype(int)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=42
)

# 2) Preprocess: numeric -> impute+scale, categorical -> impute+onehot(ignore unknown)
num_proc = Pipeline(steps=[
    ("impute", SimpleImputer(strategy="median")),
    ("scale", StandardScaler())
])

cat_proc = Pipeline(steps=[
    ("impute", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder(handle_unknown="ignore", sparse_output=False))
])

preprocess = ColumnTransformer(
    transformers=[
        ("num", num_proc, selector(dtype_include=["number"])),
        ("cat", cat_proc, selector(dtype_exclude=["number"]))
    ],
    remainder="drop"   # or "passthrough" if you want untouched columns kept
)

# 3) Choose a model (swap lr/rf/xgb as you like)
lr = LogisticRegression(max_iter=2000, n_jobs=None if hasattr(LogisticRegression(), "n_jobs") else None)
rf = RandomForestClassifier(n_estimators=400, random_state=42)
xgb = XGBClassifier(
    n_estimators=400, max_depth=4, learning_rate=0.05,
    subsample=0.9, colsample_bytree=0.9, random_state=42,
    eval_metric="logloss", tree_method="hist"
)

model = lr  # <- pick: lr / rf / xgb

clf = Pipeline(steps=[("prep", preprocess), ("model", model)])

# 4) Fit & evaluate (use proba for AUC)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
y_prob = clf.predict_proba(X_test)[:, 1] if hasattr(clf.named_steps["model"], "predict_proba") else None

acc = accuracy_score(y_test, y_pred)
sen = recall_score(y_test, y_pred)  # sensitivity = recall for positive class 1
auc = roc_auc_score(y_test, y_prob) if y_prob is not None else float("nan")

print(f"Accuracy = {acc:.4f}, AUC = {auc:.4f}, Sensitivity = {sen:.4f}")

Accuracy = 1.0000, AUC = 1.0000, Sensitivity = 1.0000

In [ ]:
set(X.columns).intersection([y.name])

set()

In [123]:
df_corr = data.corr(numeric_only=True)[['Mortality']].sort_values('Mortality', ascending=False)
print(df_corr.head(20))

           Mortality
Mortality   1.000000
S100A8      0.846661
S100A12     0.818598
ANXA3       0.762283
ARG1        0.742955
C19orf59    0.727158
TXN         0.713199
C5orf32     0.710656
PGS1        0.685800
IRAK3       0.676826
UPP1        0.675850
SLC22A4     0.664600
TLR5        0.663504
GADD45A     0.659049
CD177       0.656718
LILRA5      0.654466
CD59        0.653648
IL1R2       0.652329
CKAP4       0.652078
CLEC4D      0.650021

In [125]:
data.columns

Index(['title', 'status', 'submission_date', 'last_update_date', 'type',
       'channel_count', 'source_name_ch1', 'organism_ch1', 'taxid_ch1',
       'characteristics_ch1',
       ...
       'ZSWIM7', 'ZUFSP', 'ZW10', 'ZWILCH', 'ZWINT', 'ZXDC', 'ZYG11B', 'ZYX',
       'ZZEF1', 'ZZZ3'],
      dtype='object', length=10883)